body {
  background: url(images/bg-intro-mobile.png), #ff7979;
  background-size: cover;
  margin: 4.2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.vr {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 37px;
}

.signup-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}


.signup-cta {
  background: hsl(248, 32%, 49%);
  border-radius: 10px;
  padding: .2rem 4rem;
  text-align: center;
  box-shadow: 0 8px 1px 0px #00000026;
  margin-top: 1.4rem;
}

.signup-cta span {
  font-weight: 600;
}

form {
  display: grid;
  justify-content: space-evenly;
  align-items: stretch;
  row-gap: 18px;
  background: white;
  padding: 1.5rem 0;
  border-radius: 10px;
  margin-top: 1.3rem;
  box-shadow: 0 8px 1px 0px #00000026;
}

input {
  margin: 0rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 88%);
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

form input[type=submit] {
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 600;
  letter-spacing: 0em;
  box-shadow: 0 5px 1px 0px hsl(154.1, 59.2%, 45%);
  border: 0px;
  font-size: 1rem;
}

form input[type=submit]:hover {
  background-color: #77e2b4;
  color: white;
  font-weight: 600;
  letter-spacing: .1em;
  box-shadow: 0 3px 1px 0px rgb(138, 212, 180);
  border: 0px;
  font-size: 1rem;
}

.form-agreement {
  font-size: .7rem;
  font-weight: 500;
  color: hsl(246, 25%, 77%);
  padding: 0 2.5rem;
  line-height: 21px;
  margin: 0;
  margin-top: -11px;
}

.form-agreement p {
  margin: 0;
}

a {
  color: #ff7979;
  font-weight: 700;
  text-decoration: none;
}

.attribution {
  font-weight: 500;
}

.attribution a {
  color: hsl(248, 32%, 49%);
}


@media only screen and (min-width: 1249px) {
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background: url("images/bg-intro-desktop.png"), #ff7979;
    padding: 0;
  }

  .intro {
    text-align: left;
    width: 36%;
    margin: 10.7rem 0rem 10rem 4rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 2rem;
  }

  .signup-form {
    margin-top: 3rem;
    width: 38.5%;
    margin-right: 6rem;
  }

  .signup-cta {
    margin-top: .5rem;
    padding: 0;
    width: 100%;
  }

  form {
    width: 100%;
    padding: 2.8rem 2.5rem 1.7rem 2.5rem;
    justify-content: stretch;
    box-sizing: border-box;
    margin: 1.5rem 0rem;
    row-gap: 4px;
  }

  form input[type="submit"] {
    letter-spacing: normal;
  }

  form input[type=submit]:hover {
    letter-spacing: normal;
  }

  .form-control {
    display:inherit;
    row-gap: 0;
  }

  .form-control input {
    display: block;
    width: 86%;
  }

  .form-control.error input {
    border: 3px solid #ff7979;
    color: #ff7979;
    font-weight: 700;
    margin: .3rem 0;
  }

  .form-control img {
    position: relative;
    top: -2.8rem;
    left: 25.4rem;
    visibility: hidden;
  }

  .form-control.error img {
    visibility: visible;
  }
  
  .form-control small {
    text-align: right;
    position: inherit;
    color: #ff7979;
    font-weight: 600;
    font-style: italic;
    font-size: .7rem;
    display: none;
    margin: -26px 0 16px 0;
  }

  .form-control.error small {
    display: block;
  }

  input {
    margin: 0;
    padding: .8rem 2rem;
    display: block;
  }

  input:focus {
    border: 1px solid hsl(248, 32%, 49%);;
  }
  

  .form-agreement {
    margin: 0;
    margin: 1rem 0 0.3rem 0;
  }

  footer {
    width: 100%;
  }

}