body {
  background: url(images/bg-intro-mobile.png), hsl(0, 100%, 74%);
  background-size: cover;
  margin: 4.2rem 1.5rem 0 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 37px;
}

.intro {
  line-height: 1.7rem;
  max-width: 32rem;
}

.signup-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}


.signup-cta {
  background: hsl(248, 32%, 49%);
  border-radius: 10px;
  padding: .2rem 4rem;
  text-align: center;
  box-shadow: 0 8px 1px 0px hsla(0, 0%, 0%, 0.149);
  margin-top: .7375rem;
}

.signup-cta span {
  font-weight: 600;
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 2.3rem;
  background: hsl(0, 0%, 100%);
  padding: 1.5rem 0;
  border-radius: 10px;
  margin-top: 1.3rem;
  box-shadow: 0 8px 1px 0px #00000026;
}

.form-control {
  display: inherit;
  row-gap: 0;
  margin-bottom: -24px;
}

.form-control input {
  display: block;
}

.form-control.error input {
  border: 3px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  background: url(images/icon-error.svg) no-repeat right 1rem center;
  position: relative;
  padding-right: 2rem;
}

.form-control small {
  text-align: right;
  position: inherit;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  font-style: italic;
  font-size: .7rem;
  display: none;
  margin: -20px 40px 10px 0;
}

.form-control.error small {
  display: block;
  margin: 4px 21px 0 0;
}

input {
  margin: 0rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 88%);
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  border: 1px solid hsl(248, 32%, 49%);
}

input:invalid {
  background-color: hsl(350, 100%, 88%);
}

button {
  background-color: hsl(154, 59%, 51%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  letter-spacing: .03em;
  box-shadow: 0 5px 1px 0px hsl(154.1, 59.2%, 45%);
  border: 0px;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  display: inherit;
  margin: 1rem 1.5rem -1.5rem 1.5rem;
}

button:hover {
  background-color: hsl(154, 65%, 68%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  box-shadow: 0 3px 1px 0px hsl(154, 46%, 69%);
  border: 0px;
  font-size: 1rem;
}

button:active {
  background-color: hsl(154, 65%, 68%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  box-shadow: 0 3px 1px 0px hsl(154, 46%, 69%);
  border: 0px;
  font-size: 1rem;
}

.form-agreement {
  font-size: .7rem;
  font-weight: 500;
  color: hsl(246, 25%, 77%);
  padding: 0 2.5rem;
  line-height: 21px;
}

.form-agreement p {
  margin: 0;
}

a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}

.attribution {
  font-weight: 500;
}

.attribution a {
  color: hsl(248, 32%, 49%);
}


@media only screen and (min-width: 961px) {
  body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: url("images/bg-intro-desktop.png"), hsl(0, 100%, 74%);
    height: 98vh;
    justify-content: center;
    column-gap: 0;
    margin: unset;
  }

  body.error {
    padding: 0.5rem 0;
  }

  .intro {
    text-align: left;
    max-width: 35.5rem;
    margin-top: 3.3rem;
  }

  .intro.error {
    margin: 11.5rem 0rem 10rem 0rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin-bottom: 2rem;
  }

  .signup-form {
    margin-top: 4.7rem;
    margin-right: 2rem;
    width: 37.5%;
  }

  .signup-form.error {
    margin-top: 1.8rem;
  }

  .signup-cta {
    margin-top: 1.4rem;
    padding: 0;
    width: 100%;
  }

  form {
    display: flex;
    align-items: stretch;
    flex-flow: column;
    width: 100%;
    padding: 2.5rem 2.8rem 2.5rem 2.4rem;
    justify-content: center;
    box-sizing: border-box;
    margin: 1.5rem 0rem;
    row-gap: 43px;
  }

  button {
    letter-spacing: normal;
    margin: 0;
    border-radius: 5px;
    letter-spacing: .1ch;
    font-family: inherit;
    padding: 1rem;
    display: initial;
  }

  button:hover {
    letter-spacing: normal;
  }

  .form-control {
    display: inherit;
    row-gap: 0;
    margin-bottom: -21px;
  }

  .form-control.error {
    margin-bottom: -31px;
  }

  .form-control input {
    display: block;
    padding: 1rem 2rem;
    width: 100%;
  }

  .form-control.error input {
    border: 3px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    margin: .3rem 0;
    background: url(images/icon-error.svg) no-repeat right 1rem center;
    position: relative;
    padding-right: 2rem;
  }

  .form-control small {
    text-align: right;
    position: inherit;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    font-style: italic;
    font-size: .7rem;
    display: none;
    margin: 0;
  }

  .form-control.error small {
    display: block;
  }

  input {
    display: block;
    margin: unset;
  }

  input:focus {
    border: 1px solid hsl(248, 32%, 49%);
  }

  .form-agreement {
    margin: -1.8rem 0 0 0;
    padding: 0 2rem;
  }

  footer {
    width: 100%;
    margin-top: 0;
  }
}