@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Protest+Strike&display=swap');

:root {
    color-scheme: dark;
    --primary: hsl(75, 94%, 57%);
    --gray: hsl(0, 0%, 20%);
    --dark-gray: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #fff;
    background: url('assets/NeonBG.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    min-width: 370px;
    margin: 1rem;
    padding: 2rem 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid hsla(75, 12.7%, 31%, 0.56);
    background-color: hsla(0, 0%, 0%, 0.58);
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: hidden;
}

/* User Styles */

.user_img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: all ease .3s;
}

.user_img:hover {
    cursor: pointer;
    border: 1px solid var(--primary);
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all ease .3s;
}

.user_info {
    margin: 1rem 0;
}

.name {
    color: #fff;
    font-weight: 600;
    margin: 0 0 .25rem;
    font-size: 1.5rem;
}

.loc {
    color: var(--primary);
    font-weight: 600;
}

/* Bio Styles */

.bio span {
    font-family: "Protest Strike", sans-serif;
    font-size: 1.25rem;
}

/* Link Styles */
.links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1rem;
    width: 100%;
}

.links a {
    color: #fff;
    text-decoration: none;
    background-color: hsla(75, 12.7%, 31%, 0.56);
    padding: .75rem 1rem;
    border-radius: 5px;
    position: relative;
    border: 1px solid #aeaeae25;
    transition: all ease .3s;
}

.links a:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all ease .3s;
}

.links a:first-child:hover {
    border: 1px solid var(--primary);
    background: url('assets/github-mark-white.png') no-repeat;
    background-size: 25%;
    background-position: center left;
    color: #fff;
}

.links a:nth-child(2) {
    position: relative;
}

.links a:nth-child(2):after {
    content: "";
    background-image: url(assets/squiggle.svg);
    background-repeat: repeat-x;
    position: absolute;
    right: 1rem;
    bottom: 0;
    height: 16px;
    background-position: center;
}

.links a:nth-child(2):hover:after {
    width: 70%;
}

.links a:nth-child(2):hover {
    border: 1px solid var(--primary);
    background: #fff url('assets/fem_logo.png') no-repeat;
    background-size: 28%;
    background-position: center left;
    color: #3f54a3;
}

.links a:nth-last-child(3):hover {
    border: 1px solid var(--primary);
    background: #007fbc url(assets/LinkedIn_icon.svg) no-repeat;
    background-position: center left;
    color: #fff;
}

.links a:nth-last-child(2):hover {
    border: 1px solid var(--primary);
    background: url(assets/x-logo-white.png) no-repeat;
    background-size: 25%;
    background-position: center left;
    color: #fff;
}

.links a:last-child:hover {
    border: 1px solid var(--primary);
    background: url(assets/Instagram_Glyph_White.svg), linear-gradient(90deg, #ffd600, #ffaf00, #ff822e, #ff4855, #ff007e, #ff00ab, #d800d6, #7638fa);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left center;
    color: #fff;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid #c5f82a;
}

#folio_link:focus-visible,
button:focus-visible,
small a:focus-visible {
    outline: 2px solid #c5f82a;
    border-radius: 75px;
    padding: 0 .5rem;
}

/* Color Mode Toggle Styles */

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: -80px;
    width: 150px;
    height: 150px;
    border: none;
    box-shadow: 0 0 0 1px hsla(75, 50%, 30%);
    background: url('assets/sun-hot.svg') no-repeat;
    background-color: hsla(75, 12.7%, 11%, 0.8);
    background-position: bottom;
    background-size: 30%;
    transform: rotate(45deg);
    transition: all 0.3s;
    cursor: pointer;
}

#toggle:hover {
    background-color: hsla(75, 12.7%, 31%, 0.56);
}


/* Credit Styles */

footer small {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    font-size: .7rem;
    text-align: center;
}

small a {
    color: var(--primary);
}


/* Light Color Mode Styles */

.light-mode {
    color-scheme: light;
    --primary: hsl(75, 12.7%, 31%);
    --gray: #cccccc;
    --dark-gray: #e0e0e0;
    --off-white: #ebebeb;
    --off-black: hsl(0, 0%, 8%);
}

.light-mode body {
    color: var(--off-black);
    background: url('assets/NeonBG_light.jpg') no-repeat;
    background-size: cover;
}

.light-mode a:focus-visible {
    outline: 2px solid hsl(191.4, 75.5%, 38.4%)
}

.light-mode #folio_link:focus-visible,
.light-mode button:focus-visible,
.light-mode small a:focus-visible {
    outline: 2px solid hsl(191.4, 75.5%, 38.4%);
    border-radius: 75px;
    padding: 0 .5rem;
}

.light-mode main {
    background-color: #ffffff58;
    backdrop-filter: blur(10px);
}

.light-mode .name {
    color: var(--off-black);
}

.light-mode .links a {
    font-weight: 700;
    color: var(--off-black);
    background-color: #ffffff43;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.light-mode .links a:first-child:hover {
    border-color: transparent;
    background: #fff url('assets/github-mark.png') no-repeat;
    background-size: 25%;
    background-position: center left;
    color: var(--off-black);
}

.light-mode .links a:nth-child(2) {
    position: relative;
}

.light-mode .links a:nth-child(2):after {
    content: "";
    background-image: url(assets/squiggle.svg);
    background-repeat: repeat-x;
    position: absolute;
    right: 1rem;
    bottom: 0;
    height: 16px;
    background-position: center;
}

.light-mode .links a:nth-child(2):hover {
    border-color: transparent;
    background: #fff url('assets/fem_logo.png') no-repeat;
    background-size: 28%;
    background-position: center left;
    color: #3f54a3;
}

.light-mode .links a:nth-last-child(3):hover {
    border-color: transparent;
    background: #007fbc url(assets/LinkedIn_icon.svg) no-repeat;
    background-position: center left;
    color: #fff;
}

.light-mode .links a:nth-last-child(2):hover {
    border-color: transparent;
    background: url(assets/x-logo-black.png) no-repeat;
    background-size: 25%;
    background-position: center left;
    color: var(--off-black);
}

.light-mode .links a:last-child:hover {
    border-color: #e0e0e0;
    background: url(assets/Instagram_Glyph_White.svg) no-repeat, linear-gradient(90deg, #ffd600, #ffaf00, #ff822e, #ff4855, #ff007e, #ff00ab, #d800d6, #7638fa);
    background-size: 25% cover;
    background-position: left center;
    color: #fff;
}

.light-mode #toggle {
    background: url("assets/falling-stars.svg") no-repeat;
    background-color: hsl(199, 44.7%, 24%);
    background-position: bottom;
    background-size: 30%;
    box-shadow: 0 0 0 1px hsl(75, 94%, 57%);
}

.light-mode #toggle:hover {
    background-color: hsl(228, 58%, 20%);

}