@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: hsl(226, 43%, 10%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --selfcare: hsl(43, 84%, 65%);
  --profile-bg: hsl(246, 80%, 60%);
  --stats-bg: hsl(235, 46%, 20%);
  --stats-bg-hover: hsl(235, 45%, 61%);
  --time: hsl(236, 100%, 87%);
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  color: var(--stats-bg-hover);
  text-decoration: none;
  transition: color 400ms;
}

a:hover {
  color: #fff;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--primary-bg);
  color: #fff;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  min-width: 280px;
  padding: 5rem 1.5rem;
  row-gap: 1.5rem;
}

#user-card {
  background-color: var(--stats-bg);
  border-radius: 15px;
}

#user-profile {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--profile-bg);
  border-radius: 15px;
  padding: 1.75rem 2.1rem 1.9rem 1.1rem;
}

#avatar {
  max-width: 75%;
  border: 2px solid #fff;
  border-radius: 50px;
  margin-top: 6px;
}

#username {
  font-size: 15px;
  line-height: 25px;
}

#usermenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
}

.stat-card {
  border-radius: 15px;
  padding: 3rem 0 0;
  background-repeat: no-repeat;
  position: relative;
  background-size: 24%;
}

#work {
  background-color: var(--work);
  background-image: url(images/icon-work.svg);
  background-position: top -10px right 19px;
}

#play {
  background-color: var(--play);
  background-image: url(images/icon-play.svg);
  background-position: top -5px right 21px;
}

#study {
  background-color: var(--study);
  background-image: url(images/icon-study.svg);
  background-position: top -5px right 18px;
}

#exercise {
  background-color: var(--exercise);
  background-image: url(images/icon-exercise.svg);
  background-position: top 0px right 19px;
}

#social {
  background-color: var(--social);
  background-image: url(images/icon-social.svg);
  background-position: top -18px right 10px;
}

#selfcare {
  background-color: var(--selfcare);
  background-image: url(images/icon-self-care.svg);
  background-position: top -10px right 15px;
  background-size: 20%;
}

.card {
  background-color: var(--stats-bg);
  border-radius: 15px;
  padding: 1.7rem 1.5rem;
  margin-top: -10px;
  position: relative;
  cursor: pointer;
}

.card > img {
  position: absolute;
  right: 9px;
  top: 0;
  padding: 2.3rem 1rem 0.5rem;
  cursor: pointer;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
}

.time {
  font-size: 2rem;
  font-weight: 300;
}

.stat-daily,
.stat-weekly,
.stat-monthly {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.hidden {
  display: none;
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {
  main {
    max-width: 1440px;
    display: grid;
    grid-template-areas:
      "user-card work play study"
      "user-card exercise social selfcare";
    justify-content: center;
    justify-items: center;
    column-gap: 1.9rem;
    row-gap: 1.8rem;
  }

  #user-card {
    grid-area: user-card;
    max-width: 255px;
  }

  #user-profile {
    grid-template-columns: 1fr;
    justify-items: flex-start;
    padding: 1.75rem 2rem 4.9rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  #avatar {
    max-width: 44%;
    margin-bottom: 2.3rem;
  }

  #usermenu {
    flex-direction: column;
    align-items: flex-start;
    height: 30%;
  }

  .stat-card {
    width: 255px;
    padding: 3.5rem 0 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: 30%;
  }

  #social {
    background-position: top -16px right 13px;
  }

  #selfcare {
    background-position: top -12px right 15px;
    background-size: 26%;
  }

  .card {
    padding: 1.9rem 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 500ms;
  }

  .card:hover {
    background-color: var(--stats-bg-hover);
  }

  .card > img {
    right: 15px;
    top: 0;
  }

  .card > img:hover {
    filter: brightness(500%);
  }

  .stat-daily,
  .stat-weekly,
  .stat-monthly {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    padding-top: 0;
  }

  .hidden {
    display: none;
  }

  .time {
    font-size: 3.5rem;
  }
}
