@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --primary-orange: hsl(26, 100%, 55%);
  --secondary-orange: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --gray-blue: hsl(219, 9%, 45%);
  --light-gray-blue: hsl(220, 14%, 75%);
  --light-gray: hsl(223, 64%, 98%);
  --lightbox-bg: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  font-size: 16px;
  text-align: left;
}

/* /////////////////// Nav */

header {
  position: relative;
  z-index: 3;
  background-color: #fff;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 0 0.75rem 1.5rem;
  background-color: #fff;
}

nav img:not(#logo > img) {
  cursor: pointer;
}

#mobile-menu-open-btn {
  margin-right: 0.7rem;
}

#mobile-menu-open-btn:hover {
  filter: brightness(125%) saturate(1000%) hue-rotate(-197deg);
}

#shop-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  position: relative;
}

#logo {
  display: inline-block;
}

#checkout-cart-btn {
  background-color: #fff;
  border: 0;
  position: relative;
}

#checkout-cart-btn::after {
  content: attr(data-count);
  position: absolute;
  top: -5px;
  right: -8px;
  background: var(--primary-orange);
  color: white;
  border-radius: 100px;
  padding: 0.05rem 0.4rem;
  font-size: 0.6rem;
  font-weight: 700;
}

#checkout-cart-btn.empty::after {
  display: none;
}

#profile-pic {
  width: 19%;
}

nav ul {
  display: none;
  background-color: #fff;
  list-style-type: none;
}

ul li {
  padding: 0.77rem 0;
  position: relative;
  width: 100%;
}

nav > div > button:not(#checkout-cart-btn) {
  border: none;
  padding: 1rem 0.5rem;
}

/* /////////////Mobile Nav  */
.mobile-nav {
  visibility: hidden;
}

#mobile-menu-open-btn {
  background: #fff url(images/icon-menu.svg) no-repeat;
}

#mobile-menu-close-btn {
  background: #fff url(images/icon-close.svg) no-repeat;
  display: none;
}

.open {
  visibility: visible;
}

.open a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 0.77rem 1.6rem;
}

#mobile-menu-close-btn.open {
  z-index: 6;
  display: inline;
  position: absolute;
  top: 1.6rem;
  left: 1.5rem;
}

.mobile-nav.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
  width: 67%;
  min-height: 100vh;
  left: 0;
  top: 0rem;
  padding: 5rem 0;
}

ul li:hover {
  background-color: var(--primary-orange);
  color: #fff;
  transition: background-color 700ms;
}

li > a:hover {
  color: #fff;
  transition: color 650ms;
}

/* /////////////////// Main  */

main {
  background-color: #fff;
}

/* ////////// Lightbox */
#lightbox {
  display: flex;
  position: relative;
}

button {
  cursor: pointer;
}

.lb-nav-btns {
  border: 0;
}

.lb-nav {
  position: absolute;
  top: 45%;
  transform: translate(0, -100%);
  padding: 0.8rem;
  width: 40px;
  height: 40px;
  z-index: 2;
  background-color: #fff;
  border-radius: 100px;
  border: 0;
}

.lb-nav.prev {
  left: 4%;
}

.lb-nav.next {
  right: 4%;
}

/* ///////////// Product Details */
#product-image {
  width: 100%;
  position: relative;
  top: -37px;
}

#product-details {
  position: relative;
  bottom: 75px;
  background-color: #fff;
  padding: 1.5rem 1.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#product-maker {
  color: var(--primary-orange);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2.2px;
  margin-bottom: 0.8rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.9ch;
}

#product-description {
  margin-top: 1rem;
  font-size: 0.945rem;
  line-height: 2.9ch;
  color: var(--gray-blue);
}

#product-pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0 1.5rem 0;
  font-weight: 700;
}

#product-pricing > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#price {
  font-size: 1.75rem;
  letter-spacing: 1.5px;
}

.discount {
  font-size: 1rem;
  color: var(--primary-orange);
  margin-left: 0.9rem;
  background-color: var(--secondary-orange);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

#price-org {
  margin-right: 0.2rem;
  font-size: 1.05rem;
  text-decoration: line-through;
  color: var(--light-gray-blue);
}

#add-to-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--light-gray);
  border-radius: 10px;
}

/* it will support chrome and firefox */
.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  background-color: var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 1.1rem 1rem;
}

.quantity button {
  transform: rotate(180deg);
  background-color: var(--light-gray);
  border: none;
  display: inherit;
  padding: 0.5rem;
}

svg {
  color: var(--primary-orange);
}

.quantity button:hover > svg {
  color: hsl(27, 100%, 71%);
}

.add-to-cart-btn {
  background-color: var(--primary-orange);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  box-shadow: hsla(26, 100%, 55%, 0.603) 0px 8px 24px;
}

.add-to-cart-btn:hover {
  background-color: hsl(27, 100%, 71%);
  color: hsl(0, 0%, 100%);
}

#cart-button-icon {
  filter: brightness(500%);
  width: 6%;
  padding-top: 0.17rem;
  margin-right: 0.7rem;
}

.add-to-cart-btn:hover #cart-button-icon {
  filter: brightness(5000%);
}
