@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-dark-blue: hsl(238, 29%, 16%);
    --primary-accent: hsl(14, 88%, 65%);
    --medium-gray: hsl(237, 12%, 33%);
    --light-gray: hsl(240, 6%, 50%);
    --dividers: hsl(240, 5%, 91%);
}

body {
    font-size: 12px;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 1.5rem;
}

main {
    background: #fff;
    border-radius: 15px;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 6rem;
}

.featured-image {
    width: 100%;
    min-height: 4rem;
    position: relative;
}

#mobile-svg {
    display: block;
    position: absolute;
    top: -155px;
    left: 50%;
    z-index: 1;
    background: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px right;
    -webkit-transform: translateX(-55%);
    transform: translateX(-55%);
    padding: 16px 0;
}

#desktop-svg {
    display: none;
}

#heading {
    font-size: 2rem;
    color: var(--primary-dark-blue);
    text-align: center;
    padding: 1rem 0;
}

h2 {
    margin: 1rem 0;
}

.accordion {
    margin-top: 1.5rem;
}

.accordion-trigger {
    font-weight: 400;
    color: var(--medium-gray);
    background: none;
    border: none;
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
}

.accordion-title {
    display: block;
    pointer-events: none;
}

.accordion-trigger[aria-expanded="true"] .accordion-title {
    font-weight: 700;
    color: var(--dark-blue);
}

.accordion-panel {
    color: var(--light-gray);
    width: 90%;
}

hr {
    width: 100%;
    border: 1px solid var(--dividers);
    margin: 1.15rem 0;
}

.Accordion-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    pointer-events: auto;
}

.accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-7px) rotate(-180deg);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--primary-accent);
}

.attribution p {
    margin: 0;
    padding: 0;
}


@media screen and (min-width:1000px) {

    main {
        max-width: 900px;
        background-image: url("images/illustration-woman-online-desktop.svg"), url("images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: left -91px center, top -290px left -580px;
        background-size: 500px, 988px;
        display: flex;
        padding: 3.5rem 1.5rem;
        margin-top: 0;
    }

    #mobile-svg {
        display: none;
    }

    #desktop-svg {
        display: block;
        float: left;
        position: absolute;
        left: -117px;
        top: 155px;
    }

    .accordion {
        width: 100%;
        max-width: 350px;
        margin-right: 4rem;
        height: 100%;
        max-height: 400px;
    }

    #heading {
        text-align: left;
    }

    .accordion-trigger:hover {
        color: var(--primary-accent);
        cursor: pointer;
    }

}