@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-darkgray: hsl(0, 0%, 63%);
  --second-darkgray: hsl(0, 0%, 27%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.62rem;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.31rem;
}

/*/////////// NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  top: 6%;
  left: 6%;
  max-width: 100%;
  z-index: 1;
}

nav > ul {
  display: none;
  flex-direction: row;
}

li {
  list-style: none;
  margin-right: 1rem;
  visibility: hidden;
}

nav a {
  text-decoration: none;
  color: #fff;
}

#logo {
  margin-left: 7.2rem;
}

/*///////////// Mobile Menu ////////////*/

nav.open {
  background-color: #fff;
  height: 110px;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0 1.6rem;
}

nav.open #logo {
  display: none;
}

#mobile-menu {
  cursor: pointer;
  max-width: 20%;
}

#mobile-menu-close {
  display: none;
}

nav.open > #mobile-menu-close {
  display: unset;
  cursor: pointer;
  max-width: 20%;
  max-height: 20%;
}

nav.open > #mobile-menu {
  display: none;
}

ul.open {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

ul.open > li {
  visibility: visible;
  margin-left: 1rem;
}

nav.open a {
  color: #000;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: -0.05rem;
}

nav a:hover {
  color: var(--second-darkgray);
}

/*/ ////////// HERO SECTION */

.hero-img {
  position: relative;
}

.hero-img img {
  width: 100%;
  display: block;
}

.hero-src {
  display: none;
}

.hero-src.selected {
  display: inherit;
}

#hero-nav-icons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

#hero-nav-icons img {
  background-color: black;
  padding: 1rem 1.3rem;
  height: auto;
}

#hero-nav-icons img:hover {
  background-color: var(--second-darkgray);
}

#featured-content > .content {
  display: none;
}

#featured-content > .content {
  padding: 4.5rem 2rem 4.3rem 2rem;
}

#featured-content > .content.selected {
  display: inherit;
}

.content > p {
  margin-top: 1rem;
  letter-spacing: -0.25px;
  line-height: 1.25rem;
  font-size: 12px;
  color: var(--primary-darkgray);
}

/*/////////// SHOP LINKS */
.shop-link {
  margin-top: 3.3rem;
  padding-bottom: 0.2rem;
}

.shop-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.63rem;
  margin-right: 1.8rem;
}

.shop-link:hover,
.shop-link a:hover {
  color: var(--primary-darkgray);
}

/*/ ////////// ABOUT SECTION */
#about img {
  width: 100%;
  display: block;
}

#about > .content {
  padding: 3.7rem 2rem 3.6rem 2rem;
}

#about > .content > p {
  color: var(--primary-darkgray);
  margin-top: 0.85rem;
}

/* //////Desktop Styles//////////// */

@media only screen and (min-width: 810px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(220, 6.7%, 91.2%);
  }

  h2 {
    margin-top: 1px;
    font-size: clamp(0.5rem, 2.689vw, 2.42rem);
    letter-spacing: -0.9px;
  }

  main {
    position: relative;
    background-color: #fff;
  }

  nav {
    flex-direction: row-reverse;
    left: 0;
    top: 8%;
    align-items: flex-start;
    justify-content: flex-end;
    width: 58.4%;
  }

  #logo {
    margin-left: 4rem;
    margin-right: 3.5rem;
  }

  #mobile-menu {
    display: none;
  }

  nav > ul {
    display: flex;
    color: #fff;
  }

  li {
    visibility: visible;
    margin-right: 1.9rem;
    text-transform: lowercase;
    font-size: 0.74rem;
    font-weight: 500;
  }

  #hero {
    display: flex;
  }

  #hero-nav-icons {
    transform: translateX(100%);
  }

  #hero-nav-icons img {
    padding: 1.5rem;
  }

  #featured-content {
    width: 50%;
  }

  #featured-content > .content {
    padding: 1rem 1rem 0;
  }

  .shop-link {
    margin-top: 1rem;
  }

  #about {
    display: flex;
  }

  #about .content {
    max-width: 41%;
  }

  #about img {
    width: 50%;
  }
}

@media only screen and (min-width: 1137px) {
  h2 {
    line-height: 2.75rem;
  }

  #featured-content {
    width: 40%;
  }

  #featured-content > .content {
    padding: 5rem 2rem;
  }

  .content > p {
    margin-top: 1.6rem;
  }

  .shop-link {
    margin-top: 2rem;
  }

  #about .content {
    padding: 4.5rem 3rem 3.6rem;
  }

  #about img {
    width: initial;
  }
}

@media only screen and (min-width: 1344px) {
  main {
    max-width: 1440px;
  }

  #hero-nav-icons img {
    padding: 1.75rem 2.06rem;
  }

  #featured-content > .content {
    padding: 7.4rem 4.4rem 4.3rem 6.2rem;
  }
}
