@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    height: 100vh;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    margin: 0 15px;
}

#logo {
    margin-bottom: 2rem;
    height: 3.5%;
}

h1 {
    font-weight:500;
    color: hsl(0, 0%, 59%);
    font-size: 1.8rem;
}

h1 span {
    font-weight: 700;
    color: black;
}

form {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3rem;
    width: 100%;
}

#email {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: hsl(223, 100%, 88%);
    font-size: 16px;
    width: 100%;
}

#submit {
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .1ch;
    border: none;
    background-color: hsl(223, 87%, 63%);
    border-radius: 50px;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    box-shadow: hsl(223, 100%, 88%) 0px 10px 25px -5px, hsl(223, 100%, 88%) 0px 1px 10px -5px;
    width: 100%;
}

#dashboard {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
}


footer {
    color: hsl(0, 0%, 59%);
}

svg {
    width: 20px;
    height: 20px;
    margin: 0 .5em;
    padding: .5rem;
    border-radius: 100%;
    border: 1px solid hsl(0, 0%, 78%);;
    fill:hsl(223, 87%, 63%);
    margin-bottom: 1rem;
}

footer p {
    font-size: 13px;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}