@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    padding: 3rem 1rem;
    background-color: #fff;
}

#logo {
    margin-top: 2.1rem;
    height: 20px;
    width: auto;
}

#intro {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 1.3rem 0 2rem;
}

#intro-title {
    font-weight: 500;
    color: hsl(0, 0%, 59%);
    font-size: 1.6rem;
    margin: .6em 0 .2em 0;
}

#intro-title span {
    font-weight: 700;
    color: black;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0 0;
    padding: 0 1.9rem;
}

#email {
    border: 2px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    color: hsl(0, 0%, 11%);
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    max-width: 350px;
}

#email::placeholder {
    color: hsl(223, 100%, 88%);
}

input[type=email]:invalid:focus:not(:-moz-placeholder-shown) {
    max-height: 200px;
    padding: 0 1.7rem 1.25rem 3rem;
}

input[type=email]:invalid:focus:not(:-ms-input-placeholder) {
    max-height: 200px;
    padding: 0 1.7rem 1.25rem 3rem;
}

input[type=email]:invalid:focus:not(:placeholder-shown) {
    max-height: 200px;
    padding: .7rem 0 1rem;
}

.form small {
    transition: 0.28s;
    overflow: hidden;
    color: #e60101;
    font-size: .8rem;
    font-style: italic;
    display: none;
    padding: .5rem 0;
}

.form.error small {
    display: block;
}

.form.error #email {
    border: 2px solid #e60101;
}

.form.success #email {
    border: 2px solid #2ecc71;
}

#submit {
    margin-top: 1rem;
    color: white;
    font-weight: 300;
    letter-spacing: .1ch;
    border: none;
    background-color: #4f7df3;
    border-radius: 50px;
    box-shadow: #c2d3ff 0px 10px 25px -5px, hsl(223, 100%, 88%) 0px 1px 10px -5px;
    width: 100%;
    font-size: 16px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: capitalize;
    max-width: 350px;
}

#submit:hover {
    background-color: #7093f5;
    color: white;
}

#dashboard {
    width: 100%;
    max-width: 400px;
    margin-top: 4.1rem;
}

footer {
    color: hsl(0, 0%, 59%);
}

svg {
    width: 32px;
    height: auto;
    margin: 0 .2em;
    padding: .4rem;
    border-radius: 100%;
    border: 1px solid hsl(0, 0%, 78%);
    fill: hsl(223, 87%, 63%);
    margin-bottom: .8rem;
}

svg:hover {
    border: 1px solid hsl(224, 87%, 70%);
    fill: hsl(0, 0%, 100%);
    background-color: hsl(224, 87%, 70%);
    cursor: pointer;
}

footer p {
    font-size: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Desktop Media Query */
@media screen and (min-width: 631px) {

    #logo {
        height: auto;
    }

    #intro-title {
        font-size: 3rem;
    }

    #intro p {
        font-size: 1.25rem;
        margin-top: .3rem;
        margin-bottom: .4rem;
    }

    form {
        flex-wrap: nowrap;
        padding: 0;
    }

    #email {
        max-width: 400px;
        position: relative;
        margin-right: 1rem;
    }

    small {
        transform: translate(-165px, 41px);
        position: absolute;
    }

    #submit {
        max-width: 200px;
        margin-top: 0;
    }

    #dashboard {
        height: auto;
        max-width: 600px;
        margin-top: 5rem;
    }

    footer {
        margin-top: 4rem;
    }

    footer p {
        font-size: 12px;
    }
}