@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

:root {
  --creambg: hsl(30, 38%, 92%);
  --primary-green: hsl(158, 36%, 37%);
  --heading: hsl(212, 21%, 14%);
  --text: hsl(228, 12%, 48%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--creambg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-family: "Fraunces", serif;
  color: var(--heading);
  line-height: 1.5ch;
  margin: 0.5rem 0;
  font-size: 2rem;
}

p {
  font-size: 14px;
  color: var(--text);
}

main {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 600px;
  margin: 1.75rem 1rem;
}

.child {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 600px;
  min-width: 300px;
}

picture img {
  width: 100%;
  display: block;
}

#content {
  padding: 1rem 1.75rem 1.5rem;
}

#tag {
  display: block;
  color: var(--text);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85ch;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

#content p {
  line-height: 2.6ch;
  margin: 1rem 0 0;
}

#pricing {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

#price {
  color: var(--primary-green);
  font-size: 2rem;
  display: inline-block;
  font-family: "Fraunces", serif;
}

#discount {
  display: inline-block;
  text-decoration: line-through;
  font-size: 13px;
}

#add-to-cart {
  display: block;
  background-color: var(--primary-green);
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.3s;
  position: relative;
}

#add-to-cart:hover {
  background-color: hsl(158, 36%, 15%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#add-to-cart:hover > img {
  animation: pulse 0.3s 2;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(49, 87%, 26%);
  text-decoration: none;
}
