@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Outfit", sans-serif;
    background-color: #F3E5D8;

}

img,
picture,
video {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
    line-height: 100%;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-size: 2rem;
}

p,
li {
    letter-spacing: 0.21px;
    line-height: 140%;
    color: hsl(30, 10%, 34%);
    overflow-wrap: break-word;
    font-size: .91rem
}

span {
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
}

ul li {
    position: relative;
    margin-left: 2.5rem;
}

ul li::before {
    content: "•";
    position: absolute;
    left: -2rem;
    color: hsl(332, 51%, 32%);
}

ol {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: instructions;
}

ol li {
    position: relative;
    margin-left: 2.5rem;
}

ol li::before {
    counter-increment: instructions;
    content: counter(instructions) ".";
    position: absolute;
    left: -2rem;
    color: hsl(332, 51%, 32%);
    display: inline-block;
    font-weight: bold;
}

section ul,
section ol {
    margin-top: clamp(1rem, 0.773rem + 0.909vw, 1.5rem);
}


main {
    max-width: 736px;
    padding: clamp(0rem, -1.136rem + 4.545vw, 2.5rem);
    background-color: #fff;
    margin: clamp(0rem, -3.495rem + 13.978vw, 7.688rem) auto;
    border-radius: clamp(0rem, -0.568rem + 2.273vw, 1.25rem);
}

.recipe {
    display: grid;
    gap: 2rem;
    /* padding: 2rem; */
    padding: 2rem clamp(2rem, 2.909rem + -3.636vw, 0rem);
}

.recipe-img {
    border-radius: clamp(0rem, -0.284rem + 1.136vw, 0.625rem);
}

.alt-title {
    font-size: 1.25rem;
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

.recipe-prep {
    background-color: hsl(330, 100%, 98%);
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.bottom-border {
    padding-bottom: 2rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .75rem 1rem;
    transition: all .4s;
}

.nutrition-row:first-of-type {
    margin-top: 1rem;
}

.nutrition-row p:nth-of-type(2) {
    color: hsl(14, 45%, 36%);
}

.nutrition-row:not(:last-of-type) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(14, 45%, 36%);
}

.sr-only {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* Hover Effects */
/* Ingredients */
.step-fade {
    visibility: hidden;
}

.step-fade>* {
    visibility: visible;
}

.step-fade>* {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.step-fade:hover>* {
    opacity: 0.4;
}

.step-fade>*:hover {
    opacity: 1;
    transition-delay: 0ms, 0ms;
}

.step-fade {
    display: flex;
    flex-wrap: wrap;
}

/* Nutrition */
.nutrition-row:hover {
    background-color: hsl(330, 100%, 98%);
    transition: all .4s;
}