@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-softblue: hsl(215, 51%, 70%);
  --secondary-cyan: hsl(178, 100%, 50%);
  --mainbg: hsl(217, 54%, 11%);
  --cardbg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--mainbg);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

a:hover {
  color: var(--secondary-cyan);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--cardbg);
  box-shadow: rgba(8, 14, 24, 0.144) 0px 35px 1px 60px,
    rgba(0, 0, 0, 0.1) 0px 30px 2px 17px;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 325px;
  min-width: 266px;
}

img.NFT {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  display: none;
}

img.avatar {
  width: 32px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 1.1rem;
}

.title {
  font-size: 1.3rem;
  margin-top: 1.2rem;
  letter-spacing: 0.5px;
}

.description {
  margin-top: 0.75rem;
  line-height: 1.7rem;
  font-size: 1rem;
  color: var(--primary-softblue);
}

.stats {
  display: flex;
  margin-top: 0.7rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9rem;
  font-size: 1rem;
}

.price {
  color: var(--secondary-cyan);
}

img#eth-icon {
  margin-right: 2px;
}

.time,
span {
  color: var(--primary-softblue);
}

hr {
  color: var(--line);
}

.author {
  display: flex;
  margin-top: 1rem;
  font-size: 0.95rem;
  align-items: center;
}

/* Desktop Styles */

@media only screen and (min-width: 600px) {
  .card {
    border-radius: 15px;
    padding: 1.5rem 1.5rem 2rem;
    max-width: 350px;
  }

  .preview {
    position: relative;
  }

  .overlay {
    display: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: hsla(178, 100%, 50%, 0.397);
    border-radius: 10px;
  }

  .overlay:hover {
    cursor: pointer;
  }

  .preview:hover .overlay {
    opacity: 1;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .description {
    margin-top: 1rem;
    font-size: 1.12rem;
  }

  .stats {
    margin-top: 1.3rem;
    margin-bottom: 1.4rem;
    font-size: 1.12rem;
  }

  img#eth-icon {
    margin-right: 0;
  }

  img.avatar {
    width: 32px;
    height: auto;
  }

  .author {
    font-size: 1rem;
  }
}
