* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-violet: hsl(256, 26%, 20%);
  --primary-color-light-blue: hsl(216, 30%, 68%);
  --secondary-color-dark-violet: hsl(270, 9%, 17%);
  --secondary-color-light-gray-violet: hsl(273, 4%, 51%);
  --secondary-color-light-gray: hsl(0, 0%, 98%);
}

.sr {
  display: none;
}

body:not(h1, h2, h3) {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.logo {
  width: 110px;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.sect-title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
  z-index: 2;
}

.sect-content {
  line-height: 1.5rem;
}

.a-btn {
  text-decoration: none;
  color: var(--secondary-color-light-gray);
  border: 1px solid var(--secondary-color-light-gray);
  padding: 0.6rem 1.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
  z-index: 1;
}

.a-btn:hover {
  background-color: var(--secondary-color-light-gray);
  color: var(--primary-color-violet);
}

/*//////MOBILE NAV//////////*/

#nav-header {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

#nav-header #nav-list {
  display: none;
}

#nav-header #mobile-menu-open {
  display: none;
}

#nav-header.mobile #nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 600px;
  background-color: var(--secondary-color-dark-violet);
  background-image: url(images/bg-pattern-mobile-nav.svg);
  background-position: top 97% center;
  background-repeat: no-repeat;
  list-style: none;
  gap: 1rem;
  padding: 2rem;
}

#nav-header.mobile #mobile-menu {
  display: none;
}

#nav-header.mobile #mobile-menu-open {
  display: initial;
}

#nav-list li {
  padding: 0.8rem 0;
  z-index: 2;
}
.nav-link {
  text-decoration: none;
  color: var(--secondary-color-light-gray);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2ch;
  font-size: 1.2rem;
}

#nav-list li:not(:last-of-type) a:hover {
  color: var(--primary-color-light-blue);
}

#nav-list li:last-of-type {
  border: 1px solid var(--secondary-color-light-gray);
}

#nav-list li:last-of-type a:hover {
  color: var(--secondary-color-dark-violet);
}

#nav-list li:last-of-type:hover {
  background-color: var(--secondary-color-light-gray);
  color: var(--secondary-color-dark-violet);
}

/* ////////////////INTRO//////////////// */
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 2rem;
  position: relative;
}

#intro img {
  width: 100vw;
  height: 100%;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background-color: var(--primary-color-violet);
  color: var(--secondary-color-light-gray);
  padding: 6rem 1.3rem; /* extra spacing for images that need to be added */
  background-image: url(images/bg-pattern-intro-left-mobile.svg);
  background-position: top left;
  background-repeat: no-repeat;
}

.intro-content::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom 75px right;
  position: absolute;
}

.intro-content .sect-content {
  padding: 0 0.3rem 1rem;
  z-index: 2;
}

/* ////////////////PERKS//////////////// */
#perks {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 7rem 1.6rem 8.8rem; /* extra spacing for images that need to be added */
  z-index: -1;
}

#perks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 2rem 0;
}

hr {
  border: none;
  border-top: 1px solid var(--secondary-color-light-gray-violet);
  width: 150px;
}

#perks .sect-title {
  color: var(--secondary-color-dark-violet);
  font-weight: 500;
  font-size: 2.8rem;
}

#perks-list .perk h3 {
  color: var(--secondary-color-dark-violet);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem 0;
}

#perks-list .perk .perk-icon {
  padding: 1rem 0;
}

#perks-list .perk p {
  color: var(--secondary-color-light-gray-violet);
}

/* ////////////////Work//////////////// */
#work {
  background-color: var(--primary-color-violet);
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 4.5rem 1rem;
  margin-top: 5rem;
}

#work .sect-title {
  color: var(--secondary-color-light-gray);
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

/* ////////////////Footer//////////////// */
footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  background-color: var(--secondary-color-light-gray);
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  letter-spacing: 0.2ch;
  font-weight: 700;
}

footer .logo {
  margin-top: 5.5rem;
  width: 110px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.socials img {
  width: 24px;
  height: 100%;
}

.socials img:hover {
  filter: brightness(0.4);
  cursor: pointer;
}

footer .footer-hr {
  width: 85%;
  border: none;
  border-top: 1px solid var(--secondary-color-light-gray-violet);
}

#footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav-list {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  margin: 1rem 0;
}

.footer-nav-list .footer-nav-title {
  margin: 1rem 0;
  color: var(--secondary-color-light-gray-violet);
  font-size: 0.8rem;
}

.footer-nav-list .footer-nav-link {
  text-decoration: none;
  color: var(--secondary-color-dark-violet);
  padding: 1rem 0;
  font-size: 0.8rem;
}

.footer-nav-list .footer-nav-link:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
