* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-violet: hsl(256, 26%, 20%);
  --primary-color-light-blue: hsl(216, 30%, 68%);
  --secondary-color-dark-violet: hsl(270, 9%, 17%);
  --secondary-color-light-gray-violet: hsl(273, 4%, 51%);
  --secondary-color-light-gray: hsl(0, 0%, 98%);
}

.sr {
  display: none;
}

body {
  font-family: "Karla", sans-serif;
  text-align: center;
}

.logo {
  width: 110px;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}

.sect-title {
  font-size: 2.7rem;
  line-height: 3rem;
}

.sect-content {
  line-height: 1.5rem;
}

.a-btn {
  text-decoration: none;
  color: var(--secondary-color-light-gray);
  border: 1px solid var(--secondary-color-light-gray);
  padding: 0.6rem 1.8rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
  margin-top: 1rem;
}

.a-btn:hover {
  background-color: var(--secondary-color-light-gray);
  color: var(--primary-color-violet);
}

nav:not(#footer-nav) {
  display: flex;
  align-items: center;
  padding: 2rem;
}

#nav-list {
  display: none;
}

/* ////////////////INTRO//////////////// */
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 2rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  background-color: var(--primary-color-violet);
  color: var(--secondary-color-light-gray);
  padding: 6rem 1.9rem; /* extra spacing for images that need to be added */
}

/* ////////////////PERKS//////////////// */
#perks {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 7rem 1.6rem 8.8rem; /* extra spacing for images that need to be added */
}

#perks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 2rem 0;
}

hr {
  border: 1px solid var(--primary-color-violet);
  width: 150px;
}

#perks .sect-title {
  color: var(--secondary-color-dark-violet);
  font-weight: 500;
  font-size: 2.8rem;
}

#perks-list .perk h3 {
  color: var(--secondary-color-dark-violet);
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem 0;
}

#perks-list .perk .perk-icon {
  padding: 1rem 0;
}

#perks-list .perk p {
  color: var(--secondary-color-light-gray-violet);
}

/* ////////////////Work//////////////// */
#work {
  background-color: var(--primary-color-violet);
  background-image: url(images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 4.5rem 1rem;
  margin-top: 5rem;
}

#work .sect-title {
  color: var(--secondary-color-light-gray);
  font-size: 2.5rem;
  line-height: 2.5rem;
}

/* ////////////////Footer//////////////// */
footer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  background-color: var(--secondary-color-light-gray);
  background-image: url(images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  letter-spacing: 0.2ch;
  font-weight: 700;
}

footer .logo {
  margin-top: 5.5rem;
  width: 110px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.socials img {
  width: 25px;
  height: 100%;
}

footer .footer-hr {
  width: 85%;
  border: 1px solid var(--secondary-color-light-gray-violet);
}

#footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav-list {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  margin: 1rem 0;
}

.footer-nav-list .footer-nav-title {
  margin: 1rem 0;
  color: var(--secondary-color-light-gray-violet);
  font-size: 0.8rem;
}

.footer-nav-list .footer-nav-link {
  text-decoration: none;
  color: var(--secondary-color-dark-violet);
  padding: 1rem 0;
  font-size: 0.8rem;
}

.footer-nav-list .footer-nav-link:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
