@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    @apply min-h-screen bg-cover text-[#141414];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link.git {
    @apply hover:bg-white hover:bg-[url('/images/github-mark.png')] dark:hover:bg-transparent dark:hover:bg-[url('/images/github-mark-white.png')] hover:bg-[length:25%];
  }

  .link.fem {
    @apply hover:bg-white hover:bg-[url('/images/fem_logo.png')] hover:bg-[length:28%] hover:text-[#3f54a3] after:bg-[url('/images/squiggle.svg')] after:absolute after:bg-center after:bg-repeat-x after:right-4 after:bottom-0 after:h-4 after:text-transparent;
  }

  .link.fem::after {
    clip: rect(0, 0, 0, 0);
  }

  .link.fem:hover::after {
    @apply w-[70%] overflow-hidden transition-all;
    clip: unset;
  }

  .link.lin {
    @apply hover:bg-white hover:bg-[url('/images/LinkedIn-blue.svg')] hover:text-[#007fbc] dark:hover:bg-transparent hover:bg-[length:25%] dark:hover:text-[white];
  }

  .link.twit {
    @apply hover:bg-white hover:bg-[url('/images/x-logo-black.png')]  dark:hover:bg-transparent dark:hover:bg-[url('/images/x-logo-white.png')] hover:bg-[length:25%];
  }

  .link.ig {
    @apply hover:bg-white dark:hover:bg-transparent hover:bg-[url('/images/Instagram_Glyph_White.svg'),linear-gradient(to_right,#ffd600,#ffaf00,#ff822e,#ff4855,#ff007e,#ff00ab,#d800d6,#7638fa)] hover:bg-[length:25%];
  }
}
